.box-layout {
    align-items: center;
    background-color: $blue;
    //background: url('/images/bg.png');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: fade-out(white, 0.15);
    border-radius: 3px;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}

.loginButton {
    background-color: transparent;
    border-width: medium;
    border-color: black;
    color: black;
    font-size: $font-size-large;
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    border-radius: 0.5rem;
}