.button {
    background-color: $blue;
    border: none;
    color: white;
    font-size: $font-size-large;
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
    border-radius: 0.5rem;
    font-family: Nunito;
}

.button--link {
    background: none;
}

.button-login {
    padding: $s-size $l-size $s-size $l-size;
    border: 0.23rem solid black;
    border-radius: 1rem;
    color: black;
    background-color: transparent;
    font-weight: 500;
}

.button--menu {
    background: none;
    color: black;
    font-weight: 500;
}

.button--secondary {
    background: #888;
}