.form {
    display: flex;
    flex-direction: column;

    //direct descendents of form (i.e. the input elements)
    >* {
        margin-bottom: $m-size;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;

}