.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: $faded-blue;
    color: $dark-blue;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
    border: 1rem $dark-blue;
    border-radius: 1rem;
}

.modal__title {
    margin: 0 0 $m-size 0;
    font-family: Nunito;
}

.modal__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $m-size 0;
    word-break: break-all;
}

.modal__button {
    margin: 2rem;
}