.landing-text__title {
    color: black;
    font-family: Nunito;
    text-decoration: none;
    margin: 0;
    font-size: $font-size-title;
    font-weight: 700;
    line-height: 1.25;

}

.landing-text__paragraph {
    color: black;
    font-family: Nunito;
    text-decoration: none;
    font-size: $font-size-large;
    font-weight: 500;
    padding: $l-size 0 $l-size 0;
}


.landing-text-info-area {
    padding: 7.5rem 0 0 0;
}

.landing-body {
    display: flex;
    justify-content: space-between;
}

.pig {
    padding: 5rem 8rem 0 0;
}

@media(max-width: $desktop-breakpoint + 12) {
    .landing-body {
        flex-direction: column;
        text-align: center;
    }

    .landing-text__paragraph {
        text-align: center;
    }

    .landing-text-info-area {
        padding: $l-size;
    }

    .pig {
        padding: 5rem;
    }
}