.landing-header {
    background: none;
}

.landing-content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 120rem;
}

.landing-header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $l-size 0;
}

.landing-header__title {
    color: black;
    font-family: Nunito;
    text-decoration: none;

    h2 {
        margin: 0;
        font-size: 3rem;
        font-weight: 500;
        color: $dark-blue;

    }

}