.landing {
    background: url('/images/bg.png') no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
}

.landing-content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 120rem;
}

.landing-body-content {
    display: flex;
}

.pig {
    padding-top: 8rem;
    padding-right: 10rem;
}