.landing-header {
    background: none;
}

.landing-header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $l-size 0;
}

.landing-header__title {
    color: black;
    font-family: Nunito;
    text-decoration: none;

    h2 {
        margin: 0;
        font-size: 3rem;
        font-weight: 500;
        color: $dark-blue;

    }

}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: $dark-blue;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

@media(max-width: $desktop-breakpoint) {
    .toggle {
        display: block;
    }

    .title-container {
        display: none;
    }

    .menu-container {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: $faded-blue;
        padding: $m-size;

        button {
            text-align: center;
            padding: $m-size;
        }

    }

    .landing-content-container {
        padding: 0;
    }

    .landing-header__content {
        padding: 0;
    }

    .active {
        display: flex;
    }
}